
/* <style type="text/css"> */ 


body{

    width:auto;
    color: black;
    background-color:gray;
    font-family: Verdana, Geneva, sans-serif;
    padding: 150px;
    padding-top:50px;
    
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   color: blue;
   background-color: white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align:center;

}

.container-a{

    color: yellow;
    text-align: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}
.container-img{

    justify-content: center;
    align-content: center;
    align-self: center;
}
.containersvg{
    width: 500px;
    
}
.circle3{

    fill:black;
}
#container-b ul{
    padding: 0;
    list-style: none;} 
#container-b li{
    display:inline;}
#container-b a{
    color:white;
    text-decoration: none;
    font-size: 30px;
    padding-right:10px;
    
} 
#navbar{
    background-color: #333;
    color:#fff;}
#navbar ul{
    padding: 0;
    list-style: none;}
#navbar li{
    display:inline;}
#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;}